@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-sm-6">
        This is Column 1. I'll put basic info
        in here
    </div>
    <div class="col-md-3 col-sm-6">
        Column 2 More random stuff here.
    </div>
    <div class="=col-md-3 col-sm-6">
        Colimn 3 last stuff here. Bet you already forgot col number.
    </div>
</div>

<button class="btn btn-primary">Primary</button>
<button class="btn btn-danger">danger</button>
<button class="btn btn-success">Success</button>
<a class="btn btn-secondary"
   href="https://google.com"
